<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' cdn.jsdelivr.net">
    <title>{% block title %} Base Title {% endblock %}</title>
    <!-- css-->
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/base_style.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/header_style.css') }}">
    {% block css %}

    {% endblock%}

    <!-- fonts-->
    {% block fonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    {% endblock%}

    <!-- js-->
    <script src="{{ url_for('static', filename='js/header.js') }}" defer></script>
    {% block js %}

    {% endblock%}

    <!-- icons -->
    {% block icons %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% endblock%}
</head>

<body>
<div class="content_wrapper">
    <div class="header_wrapper">
        <header class="header header-static">
            <div class="main_header">Media Converter</div>
            <div class="logo">
                <a href="https://game.capcom.com/residentevil/en/" target="_blank">
                    <img id="resident_evil_logo" src="{{ url_for('static', filename='images/resident_evil2_logo.png')}}"
                         alt="Resident Evil 2 Logo">
                </a>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('index.about_page') }}">About</a></li>
                    <li><a href="#second_page">Services</a></li>
                    {% if user %}
                    <li>
                        <a>{{user.username}}</a>
                        <ul class="dropdown">
                            <li><a href="{{ url_for('user.user_profile_view') }}">
                                <i class='bx bx-user'></i>
                                Profile</a>
                            </li>
                            <li>
                                <a href="{{ url_for('user.user_files_view', username=user.username) }}">
                                    <i class='bx bx-file-blank'></i>
                                    My Files
                                </a>
                            </li>
                            <li><a href="{{url_for('user.logout_view')}}">
                                <i class='bx bx-log-out-circle'></i>
                                Logout</a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <button id="popup_login_btn">Login</button>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <button class="burger_menu_button"><i class='bx bx-menu'></i></button>
        </header>
        <div class="burger_menu_tab">
            <nav class="burger_menu_tab__navigation">
                <div class="navigation__site_links">
                    <a href="/">Home</a>
                    <a href="{{ url_for('index.about_page') }}">About</a>
                    <a class="second_page_link" href="#second_page">Services</a>
                    {% if not user %}
                    <button id="navigation__login_button">Login</button>
                    {% endif %}
                </div>
                {% if user %}
                <div class="navigation__user_links">
                    <a href="{{ url_for('user.user_profile_view') }}">{{user.username}}</a>
                    <a href="{{ url_for('user.user_files_view', username=user.username) }}">My Files</a>
                    <a href="{{url_for('user.logout_view')}}">Logout</a>
                </div>
                {% endif%}
            </nav>
        </div>
    </div>
    {% block content %}

    {% endblock %}
    <footer>
        <h2>Vadim Sosnin</h2>
        <h2>Copyright © 2024 MediaConverterApp. All Right Reserved.</h2>
    </footer>
</div>
</body>
</html>