{% extends "base_pages/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/popup_style.css') }}">
{% endblock%}

{% block js %}
<script src="{{ url_for('static', filename='js/popup.js') }}" defer></script>
{% endblock %}


{% block content %}
<div class="wrapper_background" style="background-image: url({{ url_for('static', filename='images/second.jpg')}})">
    <div class="wrapper">
        {% block popup %}

        {% endblock %}

        {% block form %}

        {% endblock %}
    </div>
</div>
{% endblock %}