{% extends "base_pages/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password_style.css') }}">
{% endblock%}


{% block content %}
<div class="wrapper_background" style="background-image: url({{ url_for('static', filename='images/second.jpg')}})">
    <div class="popup_message">
        <p class="popup_message__text"></p>
        <p class="popup_message__add_text"></p>
    </div>
    <div class="wrapper">
        {% block form %}

        {% endblock %}
    </div>
</div>
{% endblock %}