{% extends "base_pages/base.html" %}

{% block title %} My Files {% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/service.js') }}" defer></script>
{% endblock%}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/video_style.css') }}">
{% endblock%}


{% block content %}
<div class="wrapper_background"
     style="background-image: url('{{ url_for('static', filename='images/background.png') }}')">
    <div class="wrapper">
        <h1 class="service_title">Welcome to Video Editor</h1>
        {% if file_data %}
        <div class="drag_and_drop_area_wrapper drag_and_drop_area_wrapper-disabled">
            {% else %}
            <div class="drag_and_drop_area_wrapper">
                {% endif %}
                <div class="drag_and_drop_area">
                    <p class="drag_and_drop_area__description">Drag video or click to upload it</p>
                    <input id="video_file" type="file">
                </div>
            </div>
            {% if file_data %}
            <div class="video_block__wrapper">
                <div class="video_block">
                    <h1 class="video_block__title">{{ file_data.filename }}</h1>
                    <video id="videoplayer"
                           src="{{ url_for('preloader.load_user_file', file_uuid=file_data.file_uuid)}}"
                           controls></video>
                </div>
                {% else %}
                <div class="video_block__wrapper video_block__wrapper-disabled">
                    <div class="video_block">
                        <h1 class="video_block__title"></h1>
                        <video id="videoplayer"
                               src=""
                               controls></video>
                    </div>
                    {% endif %}


                    <div class="actions">
                        <div class="cut_action action">
                            <h1 class="action_title">Cut</h1>
                            <div class="cut_action__controls">
                                <p class="controls__title">Start:</p>
                                <p class="cut_action__start_time">00:00</p>
                                <button class="cut_action__set_start_time">set</button>
                                <p class="controls__title">End:</p>
                                <p class="cut_action__end_time">00:00</p>
                                <button class="cut_action__set_end_time">set</button>
                                <button class="cut_action__submit_button action_button">cut</button>
                            </div>
                        </div>

                        <div class="convert_action action">
                            <h1 class="action_title">Convert</h1>
                            <div class="convert_action__controls">
                                <p>Convert from </p>
                                <p class="convert_action__file_ext_from"></p>
                                <label class="ext_drop_down_menu" for="file_ext_list">to:</label>
                                <select id="file_ext_list">
                                    <option value="mp3">mp3</option>
                                    <option value="ogg">ogg</option>
                                    <option value="wav">wav</option>
                                </select>
                                <button class="convert_action__submit_button action_button">Convert</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}