{% extends "base_pages/base.html" %}

{% block title %} My Files {% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/service.js') }}" defer></script>
{% endblock%}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/video_style.css') }}">
{% endblock%}


{% block content %}
<div class="wrapper">
    <h1 class="service_title">Welcome to Video Editor</h1>
    <div class="drag_and_drop_area">
        <p class="drag_and_drop_area__description">Drag video or click to upload it</p>
        <input id="video_file" type="file">
    </div>

    <div class="video_block__wrapper">
        <div class="video_block">
            <h1 class="video_block__title">To continue please upload file</h1>
            <video id="videoplayer" src="{{ url_for('static', filename='test_video/papich.mp4') }}" controls></video>
        </div>

        <div class="actions">
            <div class="cut_action">
                <h1 class="action_title">Cut</h1>
                <div class="cut_action__controls">
                    <p class="controls__title">Start:</p>
                    <p class="cut_action__start_time">0:00</p>
                    <button class="cut_action__set_start_time">set</button>
                    <p class="controls__title">End:</p>
                    <p class="cut_action__end_time">0:00</p>
                    <button class="cut_action__set_end_time">set</button>
                    <button class="cut_action__submit_button">cut</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
