{% extends "base_pages/password_pages.html" %}

{% block form %}
{% if user_data %}
<form action="" class="form_wrapper" method="POST">
    <h1 class="form__title">Change Password</h1>
    <p class="from__description">Enter new password</p>
    {% from "_helper.html" import render_input_field %}
    {{ form.hidden_tag() }}
    {{ render_input_field(form.password) }}
    {{ render_input_field(form.repeated_password) }}
    <button class="reset_password_button" type="submit">Change Password</button>
</form>
{% else%}
<div class="form_wrapper">
    <p>It seems that this link has either expired or is incorrect.</p>
</div>

{% endif %}
{% endblock %}