{% extends "base_pages/password_pages.html" %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/reset_password.js') }}" defer></script>
{% endblock %}


{% block popup %}
{% from "_helper.html" import render_popup %}
{{ render_popup(title, message) }}
{% endblock%}


{% block form %}
<form action="" class="form_wrapper" method="POST">
    <h1 class="form__title">Reset Password</h1>
    <p class="from__description">To reset your password, enter your email and username</p>
    {% from "_helper.html" import render_input_field %}
    {{ render_input_field(form.email) }}
    {{ render_input_field(form.username) }}
    <button class="reset_password_button" type="submit">Reset Password</button>
</form>
{% endblock %}