<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident Evil 2</title>
    <!-- css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='user_profile_style.css') }}">
    <!-- fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <!--    <script src="{{ url_for('static', filename='app.js') }}" defer></script>-->
    <!-- icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header>
    <div class="main_header">Media Converter</div>
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="{{ url_for('index.about_page') }}">About</a>
        <a href="/">Services</a>
        {% if user %}
        <a href="{{ url_for('user.user_profile_view') }}">{{user.username}}</a>
        <a href="{{url_for('user.logout_view')}}">Logout</a>
        {% else %}
        <button id="popup_login_btn">Login</button>
        {% endif %}
    </nav>
    <div class="logo">
        <a href="https://game.capcom.com/residentevil/en/" target="_blank">
            <img id="resident_evil_logo" src="{{ url_for('static', filename='images/resident_evil2_logo.png')}}"
                 alt="Resident Evil 2 Logo">
        </a>
    </div>
</header>
<div style="background-image: url({{ url_for('static', filename="images/background.jpg")}})" class="wrapper">
<div class="wrapper__user_block">
    <div class="user_block__user_card">
        <div class="user_card__user_info">
            <div class="user_card__avatar">
                <img src="./images/avatar_default.svg" alt="">
            </div>
            <button class="user-info__change_avatar_button">Change Avatar</button>
            <div class="user_card__user_name">
                <h1 class="user_name__firstname">{{user.firstname}}</h1>
                <h1 class="user_name__secondname">{{user.lastname}}</h1>
            </div>

        </div>
        <div class="user_card__user_achivements">
            <h1 class="user_achivements__title">Achievements</h1>
            <div class="user_achivements__wrapper_for_achivements">
                <h1 class="user_achivements__video_achivement">X</h1>
                <h1 class="user_achivements__audio_achivement">X</h1>
                <h1 class="user_achivements__image_achivement">X</h1>
                <h1 class="user_achivements__video_achivement">X</h1>
                <h1 class="user_achivements__audio_achivement">X</h1>
                <h1 class="user_achivements__image_achivement">X</h1>
                <h1 class="user_achivements__video_achivement">X</h1>
                <h1 class="user_achivements__audio_achivement">X</h1>
                <h1 class="user_achivements__image_achivement">X</h1>

            </div>
        </div>
    </div>

    <div class="user_block">
        <form method="post" class="user_block__personal_data">
            {% from "_formhelpers.html" import render_field %}
            {{ render_field(form.firstname) }}
            {{ render_field(form.lastname) }}
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.registered_at) }}
            <button type="submit" class="user_block__change_user_data">Change My Data</button>
        </form>
        <h1 class="user_block__change_password_title">Do you want to change password?</h1>
        <form class="user_block__personal_data">
            <div class="personal_data__field">
                <div class="field__title">
                    <h1>Current Password:</h1>
                </div>
                <div class="field__input">
                    <input type="password">
                </div>
            </div>
            <div class="personal_data__field">
                <div class="field__title">
                    <h1>New Password:</h1>
                </div>
                <div class="field__input">
                    <input type="password">
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>