* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Robot", sans-serif;
}

a {
    cursor: pointer;
}

:root {
    --index: calc(1vh + 1vw);
    --main-color: rgb(209, 0, 37);
    --additional-color: rgb(128, 0, 23);
}


.wrapper_background {
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user_profile__content {
    color: black;
}


.wrapper_user_profile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 1100px;
    background-color: white;
    box-shadow: 0 0 10px white;
    padding: 20px;
}

.user_profile__title {
    text-align: center;
    margin-bottom: 50px;
    color: black;
}

.block_title {
    margin-left: 20px;
    margin-bottom: 10px;
}

.block {
    margin-bottom: 30px;
    background-color: #f3f5f5;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
}

.content__name_avatar_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.name_avatar_block__avatar {
    margin: 10px 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
}

.name_avatar_block__name {
    margin-bottom: 15px;
}

.button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: black;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    margin-bottom: 10px;
}

.button:hover {
    background-color: var(--main-color);
}


/*achievements block*/

.content__user_achievements {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user_achievements__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.user_achievements__title {
    font-size: 40px;
}


.user_achievements__card {
    border-radius: 10px;
    width: 120px;

}

.user_achievements__card__wrapper {
    position: relative;
    max-width: 120px;
    transition: all 450ms cubic-bezier(0.250, 0.250, 0.000, 1.055);
}

.user_achievements__card__wrapper:hover {
    transform: scale(120%);
}

.user_achievements__card:hover {
    transform: rotateY(var(--move-x)) rotateX(var(--move-y));
}

.achievement_lock {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.service_achievement_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e5e6e6;
    border-radius: 10px;
}

.user_achievements__description {
    width: 150px;
    font-size: 12px;
    text-align: center;
}

.user_achievements__description h6 {
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 15px;
    text-align: center;
}

/*user info*/

.user_block__personal_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.personal_data__field {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #e5e6e6;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}

.field__title {
    width: 150px;
    font-size: 15px;
}

.field__input input {
    font-size: 14px;
    background-color: transparent;
    border: none;
    padding: 5px;
}

@media screen and (max-width: 1130px) {
    .wrapper_user_profile {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .service_achievement_block {
        flex-direction: column;
        gap: 30px;
    }

    .field__title {
        font-size: 9px;
    }
}