* {
    box-sizing: border-box;
}

.wrapper_background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow:1;
    display: flex;
}

.wrapper {
    padding: 35px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1100px;
    margin: 60px auto 0;
    align-items: center;
}

.service_title {
    margin-bottom: 20px;
}

.drag_and_drop_area_wrapper {
    width: 800px;
    height: 400px;
    transition: all 800ms cubic-bezier(0.170, 0.020, 0.180, 0.980);
    margin-bottom: 40px;
}

.drag_and_drop_area_wrapper-disabled {
    height: 0;
    overflow: hidden;
}

.drag_and_drop_area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 4px dashed black;
    cursor: pointer;
    margin-bottom: 50px;
}

.drag_and_drop_area__description {
    text-align: center;
    width: 400px;
    font-size: 46px;
    user-select: none;
}

#video_file {
    display: none;
}


.video_block__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 1500px;
    width: 100%;
    transition: all 800ms cubic-bezier(0.170, 0.020, 0.180, 0.980);
    overflow: hidden;
}

.video_block__wrapper-disabled {
    height: 0;
}

.video_block {
    padding: 35px;
    background-color: #f4f5f5;
    width: 100%;
    border-radius: 10px;
}

.video_block__title {
    text-align: center;
    margin-bottom: 25px;
}

#videoplayer {
    width: 100%;
    border-radius: 10px;
}

.actions {
    width: 100%;
    background-color: #f4f5f5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 35px;
}

.action_title {
    margin-right: 200px;
}


.action {
    padding: 10px;
    border-radius: 10px;
    background-color: #e5e6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cut_action__controls {
    display: flex;
    align-items: center;
    justify-content: right;
}

.controls__title {
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
}


.cut_action__start_time, .cut_action__end_time, .convert_action__file_ext_from {
    margin: 0 10px;
    width: 60px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    user-select: none;
}


.cut_action__set_end_time, .cut_action__set_start_time {
    cursor: pointer;
    outline: none;
    width: 60px;
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    text-transform: capitalize;
    border: 3px solid black;
    transition: all 250ms ease-in-out;
}

.cut_action__set_end_time:hover, .cut_action__set_start_time:hover {
    background-color: var(--main-color);
    color: white;
}

.action_button {
    width: 80px;
    height: 30px;
    margin-left: 20px;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.action_button:hover {
    background-color: var(--additional-color);
}

.convert_action__controls {
    display: flex;
    align-items: center;
}

.convert_action__controls p, .ext_drop_down_menu {
    font-weight: 700;
    font-size: 18px;
}

#file_ext_list {
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    background-color: black;
    color: white;
    font-weight: 700;
}