{% extends "base_pages/base.html" %}

{% block title%}
MediaConverter
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<link rel="stylesheet" href=" {{ url_for('static', filename='css/index_style.css') }}">
<link rel="stylesheet" href=" {{ url_for('static', filename='css/popup_style.css') }}">
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/popup.js') }}" defer></script>
{% endblock %}


{% block content %}
<div class="first_page">
    <h1 id="main_title1">Media</h1>
    <h1 id="main_title2">Converter</h1>
    <div class="layers">
        <div class="layers layer_back"
             style="background-image: url({{ url_for('static', filename='images/back.png')}})"></div>
        <div class="layers layer_middle"
             style="background-image: url({{ url_for('static', filename='images/middle.png')}})"></div>
        <div class="layers layer_front"
             style="background-image: url({{ url_for('static', filename='images/front.png')}})"></div>
    </div>
    <div class="wrapper_box">
        <div class="wrapper_inner">
            <div id="close_popup_login_menu_box">
                <button id="close_popup_menu_btn">✕</button>
            </div>

            <div class="login_form_box">
                <h1 class="form_header">Login</h1>
                <form action="" method="post">
                    {{ login_form.hidden_tag() }}
                    <div class="input_box">
                    <span class="icon">
                        <i class='bx bxs-user'></i>
                    </span>
                        {{ login_form.username}}
                        <label for="username">Username</label>
                    </div>
                    <div class="input_box">
                    <span class="icon">
                        <i class='bx bxs-lock-alt'></i>
                    </span>
                        {{ login_form.password}}
                        <label for="password">Password</label>
                    </div>
                    <div class="remember_forgot_box">
                        <div id="remember_box">
                            <input class="checkbox" type="checkbox" name="remember_me">
                            <label for="remember_me">Remember me</label>
                        </div>
                        <a style="color:white" href="{{ url_for('user.reset_password')}}">Forgot password?</a>
                    </div>
                    <button class="submit_btn">Login</button>
                    <div class="register_box">
                        <p>Don't have an account? <a id="register_link">Register</a></p>
                    </div>
                </form>
            </div>

            <div class="register_form_box">
                <h1 class="register_form_header">Registration</h1>
                <form action="" method="post">
                    {{ register_form.hidden_tag() }}
                    <div class="input_box">
                    <span class="icon">
                        <i class='bx bx-user-circle'></i>
                    </span>
                        {{ register_form.firstname }}
                        <label for="firstname">Firstname</label>
                    </div>
                    <div class="input_box">
                    <span class="icon">
                        <i class='bx bx-user-circle'></i>
                    </span>
                        {{ register_form.lastname }}
                        <label for="lastname">Lastname</label>
                    </div>
                    <div class="input_box">
                    <span class="icon">
                        <i class='bx bxs-user'></i>
                    </span>
                        {{ register_form.username }}
                        <label for="username">Username</label>
                    </div>

                    <div class="input_box">
                    <span class="icon">
                        <i class='bx bxs-envelope'></i>
                    </span>
                        {{ register_form.email }}
                        <label for="email">E-mail</label>
                    </div>

                    <div class="input_box">
                    <span class="icon">
                        <i class='bx bxs-lock-alt'></i>
                    </span>
                        {{ register_form.password }}
                        <label for="password">Password</label>
                    </div>

                    <div class="input_box">
                    <span class="icon">
                        <i class='bx bxs-lock-alt'></i>
                    </span>
                        {{ register_form.repeat_password }}
                        <label for="second_password">Repeat Password</label>
                    </div>

                    <div class="terms_box">
                        <input class="checkbox" type="checkbox" name="remember_me">
                        <label for="remember_me">I agree to the terms & conditions</label>
                    </div>
                    <button class="submit_btn">Register</button>
                    <div class="register_box">
                        <p>Already have an account? <a id="login_link">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% from "_helper.html" import render_popup %}
    {{ render_popup(title, message) }}

</div>
<div id="second_page" style="background-image: url({{ url_for('static', filename='images/second.jpg')}})">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="information_card video_box">
                    <h1 class="information_card__title"> Video Converter</h1>
                    <img class="card_image ada" src="/static/images/ada.jpg" alt="">
                    <div class="information_list">
                        <ul>
                            <li>Making GIF file from video;</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>
                    <a class="service_links" href="{{ url_for('video.video_editor_get') }}">to Video Editor</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="information_card image_box">
                    <h1 class="information_card__title">Image Converter</h1>
                    <img class="card_image leon" src="/static/images/leon.jpeg" alt="">
                    <div class="information_list">
                        <ul>
                            <li>Making PDF file from several images;</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>
                    <a class="service_links" href="{{ url_for('image.image_editor') }}">to Image Editor</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="information_card audio_box">
                    <h1 class="information_card__title">Audio Converter</h1>
                    <img class="card_image ashley" src="/static/images/ashley.jpg" alt="">
                    <div class="information_list">
                        <ul>
                            <li>Converting to different formats;</li>
                            <li>Audio slicing;</li>
                            <li>Extracting audio tracs from video files.</li>
                        </ul>
                    </div>
                    <a class="service_links" href="{{ url_for('audio.audio_editor') }}">to Audio Editor</a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</div>
{% endblock %}
